body {
  /*background-color: #20284e;*/
  /*background-color: #4a5588;*/
  background-color: #a05656;
  color: black;
}

.board {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid grey;
  max-width: 500px;
}

.board-item-container {
  max-width: 720px;
  margin: 0 auto;
}

.board-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1.0rem;
  padding-bottom: 1.0rem;
  /*align-items:center;*/
  border-bottom: 1px dashed grey;
}


.board-item p {
  font-weight: bold;
  margin: 0;
  /*font-size: 1.1rem;*/
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
